<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <!-- Added %HTTP_PLATFORM_PORT% argument, extended startup time, and moved logs to a subfolder -->
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\logs\python.log" startupTimeLimit="60" processPath="C:\Python313\python.exe" arguments="run_server.py %HTTP_PLATFORM_PORT%">
        </httpPlatform>
    </system.webServer>
</configuration>
