{% extends 'base.html' %}

{% block title %}NOT FOUND{% endblock %}

{% block body %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
        <div class="row flex-grow">
            <div class="col-lg-7 mx-auto text-white">
                <div class="row align-items-center d-flex flex-row">
                    <div class="col-lg-6 text-lg-right pr-lg-4">
                        <h1 class="display-1 mb-0">404</h1>
                    </div>
                    <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                        <h2>SORRY!</h2>
                        <h3 class="fw-light">The page you’re looking for was not found.</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center mt-xl-2">
                        <a class="text-white fw-medium" href="/">Back to home</a>
                    </div>
                </div>
                <div class=" row mt-5">
                    <hr class="">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between fs-6">
                        <span class=" text-small float-none  float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright ©
                            <script>document.write(new Date().getFullYear())</script>. Kenya Shipyards Limited
                        </span>
                        <span class=" text-center  text-small text-sm-left d-block d-sm-inline-block">Powered by <a
                                href="https://www.kobby.co.ke/" class="text-danger" target="_blank">Kobby Technologies Ltd.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}