Received POST data: {
    'user_id': 'KTL-ADMIN', 
    'employee_no': 'EMP00003', 
    'my_action': 'insert', 
    'exitNo': '', 
    'natureOfSeparation': '1', 
    'reasonForLeaving': None, 
    'satisfactionWithCurrentEmployer': 3, 
    'fairandEqualPolicy': False, 
    'satisfactionWithSupervisor': 3, 
    'relationshipWithSupervisor': 'test', 
    'workingConditions': 3, 
    'workingEnvironment': 'test', 
    'feedbackOnPerformance': 'test', 
    'appraisalSystemWorked': 'test', 
    'whatYouLiked': 'test', 
    'whatYouDisliked': 'test', 
    'culture_and_feel': 'test', 
    'whatToChange': 'test', 
    'policesMakingWorkDifficult': True,
     'factorsDetrimentalToRelations': 'test', 
    'suggestionsToImprove': 'test', 
    'beneficialConditions': 'test', 
    'organizationalThroughout': 'test', 
    'describeORganizationManagers': 'test', 
    'btwDepartmentsCommunications': 'test', 
    'withinDepartmentCommunications': 'test', 
    'actionToStay': 'test', 
    'newOfferNotIncurrent': 'test', 
    'stayIfOffered': True, 
    'recommendToAFriend': 1, 
    'explanationForNotRecommending': None, 
    'any_otherComment': 'test', 
    'reasonsForUnfairPolicy': 'test'}